body{
    main{
        .funcion-1{
            margin-top:90px;
            }
        .funcion-grupo{
            margin-top: 30px;
        }
        .funciones{
            width: 450px;
            height: 150px;
            margin-left: 40px;
            border-bottom: 2px solid black;
            
            h2{
                text-transform: capitalize;
                text-decoration: underline;
            }
            button{
                width: 90px;
                height: 30px;
                background-color: rgb(20, 102, 224);
                color:antiquewhite;
                border-radius: 5px;
            }
        }
    }
}