body{
    main{
        .contenedor-info{
            
            text-align: center;
            margin-top: 70px;
            .titulo-info{
                text-decoration: underline;
            }
            .contenido-info{
                display: flex;
                flex-direction: column;
                text-align: start;
                width: 700px;
                height: 1000px;
                margin-left: 60px;
                .contenido-individual{
                    margin-top:30px;
                    padding: 10px;
                    border: 1px, solid, rgb(241, 49, 49);
                    border-radius: 5px;
                    .titulo{
                        text-transform: capitalize;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}