

body{
    main{
        div{
            .custom-col{
                margin-top: 100px;
                .titulo-lista{
                    color: blueviolet;
                    text-transform: capitalize;
                    text-decoration: underline;
                    font-style:italic;
                    text-align: center;
                }
                .lista{
                    margin-left: 80px;
                    margin-top: 40px;
                    text-transform: capitalize;
                    .productoMarcado{
                        font-weight: bold;
                        font-style: italic;
                        margin-left: 90px;
                    }
                }
                .boton-funciones{
                    margin-left:25px;
                    width: 80px;
                    border-radius: 5px;
                    background-color: rgb(20, 102, 224) ;
                    color: antiquewhite;
                    text-transform: capitalize;
                }
            }
        }
    }
}